workflow.json
{
  "name": "AI Audio & Voice Operations Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audio_video_ingestion",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2656,
        -16
      ],
      "id": "643f614a-17cf-42e5-9264-fe3bdec6ad49",
      "name": "External Media Ingestion Webhook",
      "webhookId": "b5c386fb-aa94-41c4-b934-4519d4b54da7",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Generate the unique ID\nconst jobId = `job_${Date.now()}`;\n\n// 2. Loop through all incoming items from the webhook\nreturn $input.all().map(item => {\n  // 3. Add the tracking metadata\n  item.json.job_id = jobId;\n  item.json.job_status = \"INGESTED\";\n  item.json.created_at = new Date().toISOString();\n  \n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2448,
        -16
      ],
      "id": "41a08ffa-a7bd-409d-aeb3-fc915e3f0f81",
      "name": "Audio Processing Job Initializer",
      "executeOnce": false
    },
    {
      "parameters": {
        "tableId": "media_jobs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "job_id",
              "fieldValue": "={{ $json.job_id }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.body.source }}"
            },
            {
              "fieldId": "department",
              "fieldValue": "={{ $json.body[\"department \"] }}"
            },
            {
              "fieldId": "uploaded_by",
              "fieldValue": "={{ $json.body.uploaded_by }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.job_status }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2048,
        -160
      ],
      "id": "43f24386-cf06-44e2-8a3b-f2ea756ca4ba",
      "name": "Media Job Logger",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "OUGgOIS4emvyQiNs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5d31f8a0-cb35-49e2-b7b4-c27ef549e34e",
              "leftValue": "={{ Object.values($binary)[0].mimeType }}  ",
              "rightValue": "^(audio|video|application/mp4)/",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "8b108d00-c56a-4a1e-9a52-9d78f7239719",
              "leftValue": "={{ parseInt(Object.values($binary)[0].fileSize) }}",
              "rightValue": 25000000,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -2240,
        -16
      ],
      "id": "3512eee2-978e-425a-baf0-6ee6facb813c",
      "name": "Ingestion Policy Validator",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1840,
        -16
      ],
      "id": "fa07f984-ee5a-48ed-92df-337130f3b93c",
      "name": "Assemble data package",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://oowalpauejcvaewdktau.supabase.co/storage/v1/object/raw-media/{{ $json.job_id }}/{{ $binary.data0.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1648,
        -176
      ],
      "id": "0d112e69-81a9-4ddb-a72e-956514a78e2e",
      "name": "Upload to Supabase Storage",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "OUGgOIS4emvyQiNs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1456,
        -176
      ],
      "id": "f097ecc9-2243-44bf-a606-3948c518306b",
      "name": "Sync Execution Delay",
      "webhookId": "cd625491-4412-45a2-80d1-a09207a1633e"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "={{ $node[\"Assemble data package\"].binary.data0 }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1264,
        -16
      ],
      "id": "c54719bb-b814-4364-947d-23e3d8ac7afa",
      "name": "Transcribe Media (Whisper)",
      "credentials": {
        "openAiApi": {
          "id": "1g3YEjmOAKPsT8qR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "media_jobs",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Media Job Logger').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1072,
        -16
      ],
      "id": "96a31e96-c207-4abc-9d9e-e52482ae0be9",
      "name": "Update Job Transcript",
      "credentials": {
        "supabaseApi": {
          "id": "OUGgOIS4emvyQiNs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"error\", \"error_code\": \"FILE_REJECTED\", \"message\": \"File exceeds the 25MB limit or is not a supported audio/video format.\" }",
        "options": {
          "responseCode": 413,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2256,
        224
      ],
      "id": "42de834d-241f-42da-9e08-1bd42e343f1d",
      "name": "Response: File Rejected"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"message\": \"Media received. Transcription is now processing in the background.\", \"job_id\": \"{{ $node[\"Media Job Logger\"].json.id }}\" }",
        "options": {
          "responseCode": 202,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1856,
        -272
      ],
      "id": "c34d3469-8a9c-4f08-a8d4-a32ff4805645",
      "name": "Response: Job Accepted"
    },
    {
      "parameters": {
        "content": "The Gateway (Validation)",
        "height": 432,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        -80
      ],
      "typeVersion": 1,
      "id": "b4c8c08a-1d94-4f43-96d2-bd077769cbb1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "The Intake (Job Initiation)",
        "height": 480,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2112,
        -304
      ],
      "typeVersion": 1,
      "id": "9d7b0b88-2e9d-4055-853c-6c2c9cd68fd2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "The Engine (Processing)",
        "height": 416,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        -256
      ],
      "typeVersion": 1,
      "id": "a8cabdb2-cd2c-4248-833e-80fa3746ed50",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "The Persistence (Completion)",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        -112
      ],
      "typeVersion": 1,
      "id": "f00824f7-ea63-4626-82ef-87809fe6d5a0",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "External Media Ingestion Webhook": {
      "main": [
        [
          {
            "node": "Audio Processing Job Initializer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Processing Job Initializer": {
      "main": [
        [
          {
            "node": "Ingestion Policy Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion Policy Validator": {
      "main": [
        [
          {
            "node": "Media Job Logger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Assemble data package",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response: File Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Job Logger": {
      "main": [
        [
          {
            "node": "Response: Job Accepted",
            "type": "main",
            "index": 0
          },
          {
            "node": "Assemble data package",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Assemble data package": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transcribe Media (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "Sync Execution Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Execution Delay": {
      "main": [
        [
          {
            "node": "Transcribe Media (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Media (Whisper)": {
      "main": [
        [
          {
            "node": "Update Job Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response: Job Accepted": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8624a9a9-91cc-48a2-a7ff-e96e07a3bb2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "29aa07294ccd0c2d5a921a085e583b2fb4e98f972219a9c0f667096ac3416738"
  },
  "id": "a4zPmTyvJvm4pX8ca6Vmq",
  "tags": []
}