workflow.json
{
  "name": "AI Audio & Voice Operations Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audio_video_ingestion",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        112
      ],
      "id": "643f614a-17cf-42e5-9264-fe3bdec6ad49",
      "name": "External Media Ingestion Webhook",
      "webhookId": "b5c386fb-aa94-41c4-b934-4519d4b54da7"
    },
    {
      "parameters": {
        "jsCode": "// 1. Generate the unique ID\nconst jobId = `job_${Date.now()}`;\n\n// 2. Loop through all incoming items from the webhook\nreturn $input.all().map(item => {\n  // 3. Add the tracking metadata\n  item.json.job_id = jobId;\n  item.json.job_status = \"INGESTED\";\n  item.json.created_at = new Date().toISOString();\n  \n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        112
      ],
      "id": "41a08ffa-a7bd-409d-aeb3-fc915e3f0f81",
      "name": "Audio Processing Job Initializer",
      "executeOnce": false
    },
    {
      "parameters": {
        "tableId": "media_jobs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "job_id",
              "fieldValue": "={{ $json.job_id }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.body.source }}"
            },
            {
              "fieldId": "department",
              "fieldValue": "={{ $json.body[\"department \"] }}"
            },
            {
              "fieldId": "uploaded_by",
              "fieldValue": "={{ $json.body.uploaded_by }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.job_status }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -464,
        112
      ],
      "id": "43f24386-cf06-44e2-8a3b-f2ea756ca4ba",
      "name": "Media Job Logger",
      "credentials": {
        "supabaseApi": {
          "id": "OUGgOIS4emvyQiNs",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "External Media Ingestion Webhook": {
      "main": [
        [
          {
            "node": "Audio Processing Job Initializer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Processing Job Initializer": {
      "main": [
        [
          {
            "node": "Media Job Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "921c58be-5c6e-4de7-9704-97a10df3db31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "29aa07294ccd0c2d5a921a085e583b2fb4e98f972219a9c0f667096ac3416738"
  },
  "id": "a4zPmTyvJvm4pX8ca6Vmq",
  "tags": []
}